@model ExpeditionsViewModel

<div class="container">
    @if (Model.IsSuccess)
    {
        if (Model.Data != null && Model.Data.Count() > 0)
        {
            foreach (var item in Model.Data)
            {

                <div class="card mt-5">
                    <div class="container row p-5">
                        <div class="col-md-9">
                            <div class="row">

                                <div class="col-md-3 text-center">
                                    Kalkış<br>
                                    @item.Journey.Departure.ToString("HH:mm")
                                </div>
                                <div class="col-md-3 text-center">
                                    Varış<br>
                                    @item.Journey.Arrival.ToString("HH:mm")
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                            @item.Journey.Origin - @item.Journey.Departure
                        </div>
                        <div class="col-md-3">
                            <div style="background-color: red; padding: 3px;color: white;">@item.Journey.OriginalPrice.ToString("0.00") @item.Journey.Currency</div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>

